
.poster-image{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #1E1E1E;
    border-radius: 8px;
}

.poster {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #1E1E1E;
    width: 200px;
    height: 300px;
}

.details {
    display: none;
}

.poster:hover
.details {
    /* font-size: 14px; */
    /* border: 2px solid #1E1E1E; */
    padding: 8px;
    padding-top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    background-color:white;
    width: 100%;
    color: black;
    animation: fadeIn 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /*height: 0;*/
    }
    100% {
        opacity: 1;
        /*height: auto;*/
     }
  }

.title{
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    border-bottom: 1px solid black;
    margin: 0;
    margin-right: 16px;
    word-wrap: normal;
    display: -webkit-box;
    max-lines: 2;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.overview-rating {
    font-size: 14px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
}

.overview{
    font-size: 10px;
    padding: 4px;
    margin: 0;
    word-wrap: normal;
    /*overflow: hidden;*/
    width: 70%;
}

.rating {
    padding: 8px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: aliceblue;
    background-color: red;
    border-radius: 8px;
    text-align: center;
    margin: 8px 0;
}