.search-bar {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-align: center;
}

.search-something{
    color: #f3f3f3;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 24px;
}

.main-body {
    height: 100vh;
    width: 100%;
}